table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}
tr{
    height: 12.5vh;
    background-color: #4e494d;
}
td{
  width: 25.0vw;
  border: 1px solid #4e494d;
}
#inputBox{
     background-color: #1b1a1b;
     text-align: right;
     width: 99.50%;
     font-size: 2em;
     color: #fff;
     border: 0px
}
.digitButton{
  background-color: #1b1a1b;
  
}
.operatorButton{
 background-color: skyblue;
 

}
.ACButton{
    background-color: skyblue;
    border-radius: 2.5%;
}
.memoryButton{
 background-color: #1b1a1b;
  


}
 












